<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">

        <%= render partial: 'flight_form' %>

        <% if @future_flights %>
          <%= render partial: 'future_flights', locals: { future_flights: @future_flights } %>
        <% end %>

      </div>
    </div>
  </div>
</div>
